@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Tailwind inline theme variables */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Body styles */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* === Custom Keyframes === */
@keyframes enlarge {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

/* === Custom Animation Class === */
.animate-enlarge {
  animation: enlarge 2s linear infinite;
}

@keyframes exit1 {
  0% { transform: rotate(-45deg); }
  50% { transform: rotate(0deg); }
  100% { transform: rotate(45deg); }
}

.animate-exit1{
  animation: exit1 1s linear both;
}

@keyframes exit2 {
  0% { transform: rotate(45deg); }
  50% { transform: rotate(0deg); }
  100% { transform: rotate(-45deg); }
}

.animate-exit2 {
  animation: exit2 1s linear both;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  80% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50%);
  }
}
.animate-slideUp {
  animation: slideUp 4s ease-in-out forwards;
}

@keyframes programSlideUp {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }

  /* mas mabagal ang pagpasok */
  5% {
    opacity: 1;
    transform: translateY(0);
  }

  /* mas matagal na hinto */
  90% {
    opacity: 1;
    transform: translateY(0);
  }

  /* exit */
  100% {
    opacity: 0;
    transform: translateY(-50%);
  }
}

.animate-programSlideUp {
  animation: programSlideUp 5s ease-in-out forwards;
}

@keyframes sweep {
  0% {
    transform: translateX(-120%);
  }
  50% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(-120%);
  }
}

.animate-sweep {
  animation: sweep 5s ease-in-out infinite;
}

@keyframes sweepskeleton {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(200%);
  }
}

.animate-sweepskeleton {
  animation: sweepskeleton 1s ease-in infinite;
}

@keyframes fadeUpAppear {
  0% {
    opacity: 0;
    transform: translateY(50px); /* simula sa baba */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* dulo sa original position */
  }
}

.animate-fadeUpAppear {
  animation: fadeUpAppear 1.5s ease-out forwards;
}





